section{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 45px;


}
h2{
    text-align: center;
}
div{
    width: 40%;
    padding: 4%;
    margin left: 35%;
    
}
input,button{
    display: block;

}
input{
    width: 225%;
}
button{
    width: 100%;
    margin-left: 70%;
}
a{
  font-size: 15px;
  color: black;
  background-color: #e9e9ed;
  text-decoration: none;
  width: 100%;
  padding: 2%;
  margin-left: 90%;
  border: 0.01px;
  border: solid;
  border-radius: 8px;
  border-color: #b4b4ba;
  position: relative;
  top: 10px;
}
a:hover{
    color: black;
    background-color: #b4b4ba;
}
img{
    width: 50%;
    padding: 0.2%;
    margin left: 35%;
}
